node_modules/

node_modules

build/

*.log

.env
*.pack
node_modules/.cache/default-development/10.pack
node_modules/.cache/default-development/10.pack
node_modules/.cache/default-development/10.pack
node_modules/.cache/default-development/10.pack
